div.ol-control button{
    background: initial;
    background-image: none;
    background-color: #7b98bc;
    background-color: rgba(0,60,136,.5);
    text-shadow: none;
}

div.ng-scope #toolbar button:hover {
    background-image:none;
}

div.ol-zoom {
	bottom: 165px;
	top: auto;
}

div.ol-rotate {
    bottom: 140px;
    top: auto;
}

div.ol-attribution {
    bottom: 115px;
    top: auto;
}

div.locate {
    bottom: 210px;
}
ol, ul, dl {
    margin-left: initial;
}

blockquote, ul, ol, dl {
    margin: initial;
}

input#search_address {    
    background-color: white;
    padding-left: 10px;
}

.portlet-borderless-bar {
    margin-top: 50px;
}

.ng-scope .alert-danger {
    background-color: #f9bdbb;
}
