#set($companyLocalService = $serviceLocator.findService("com.liferay.portal.service.CompanyLocalService"))
#set($company = $companyLocalService.getCompany($company_id))
#set($portalURL = $company.getVirtualHostname())

#if ($widthtype == true)
    <div class="logo">
            <a class="brand" href="http://$portalURL/" title="$site_name" rel="home">
                <img src="$images_folder/otn-logo.png" alt="$site_name" />
            </a>
    </div>
    <header id="header-mini">
        #if ($has_navigation || $is_signed_in)
            #parse ("$full_templates_path/navigation_mini.vm")
        #end

        <div id="service" class="pull-right">
            <button id="btn-toggle-map" class="btn btn-default btn-mobile glyphicon glyphicon-th" title="HUB Nav"></button>

            #if($is_signed_in)
                <a class="btn btn-success btn-mobile" href="$sign_out_url" id="sign-out" rel="nofollow">$sign_out_text</a>
            #else
                #set ($create_account_url = $portletURLFactory.create($request, "58", $page.getPlid(), "ACTION_PHASE"))
                $create_account_url.setWindowState("maximized")
                $create_account_url.setPortletMode("view")
                $create_account_url.setParameter("saveLastPath", "0")
                $create_account_url.setParameter("struts_action", "/login/create_account")

                <a class="btn btn-success btn-mobile" href="$create_account_url">$languageUtil.get($locale, "Register")</a>
                <a class="btn btn-success btn-mobile" href="https://$portalURL/cas-server/login?service=http://$portalURL/php/cas.html" rel="nofollow">$sign_in_text</a>
            #end
        </div>
    </header>
#else
    <header id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="btn btn-mobile navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse"  aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://$portalURL/" title="$site_name" rel="home">
                        <img id="logo_normal" src="$images_folder/otn-logo.png" alt="$site_name" />
                        <img id="logo_small" src="$images_folder/otn-logo_sm.png" alt="$site_name" />
                        <img id="logo_micro" src="$images_folder/otn-logo_micro.png" alt="$site_name" />
                    </a>
                </div>

                <div class="navbar-collapse navbar-responsive-collapse collapse">
                    #if ($has_navigation || $is_signed_in)
                        #parse ("$full_templates_path/navigation.vm")
                    #end

                            <ul id="service" class="navbar-nav nav navbar-right">
                                #if($is_signed_in)
                                    <li>
                                        <a href="$sign_out_url" id="sign-out" rel="nofollow">$sign_out_text</a>
                                    </li>
                                    <li>
                                        <a href="/my-contributions-info" id="mycontribution" >My Data</a>
                                    </li>
                                #else
                                    #set ($create_account_url = $portletURLFactory.create($request, "58", $page.getPlid(), "ACTION_PHASE"))
                                    $create_account_url.setWindowState("maximized")
                                    $create_account_url.setPortletMode("view")
                                    $create_account_url.setParameter("saveLastPath", "0")
                                    $create_account_url.setParameter("struts_action", "/login/create_account")
                                    <li>
                                    <a href="$create_account_url">$languageUtil.get($locale, "Register")</a>
                                    </li>
                                    <li>
                                    <a href="https://$portalURL/cas-server/login?service=http://$portalURL/php/cas.html" rel="nofollow">$sign_in_text</a>
                                    </li>
                                #end
                    </div>
                </div>
          </div>
    </header>
#end
