<ul id="menu-global-menu" class="nav navbar-nav">
    #foreach ($nav_item in $nav_items)
        #if ($nav_item.isSelected())
            <li class="active">
        #elseif ($nav_item.hasChildren())
            <li class="dropdown">
        #else
            <li>
        #end
		#if ($nav_item.getLayout().getIconImage())
		#set ($img_url = "/image/layout_icon?img_id=$nav_item.getLayout().getIconImageId()")
		#end
        #if ($nav_item.hasChildren())
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="$img_url"></img>$nav_item.getName() <b class="caret"></b></a>
            <ul class="dropdown-menu">
                #foreach ($nav_child in $nav_item.getChildren())
                    #if ($nav_child.isSelected())
                        <li class="active">
                    #else
                        <li>
                    #end
                        <a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
                    </li>
                #end
            </ul>
        #else
            <a href="$nav_item.getURL()" $nav_item.getTarget()><img src="$img_url"></img> $nav_item.getName()</a>
        #end
    </li>
    #end
</ul>
