<div class="navbar-collapse navbar-responsive-collapse collapse navbar-bottom">
    <ul id="menu-global-menu" class="nav navbar-nav navbar-right">
    	#set ($i=0)
        #foreach ($nav_item in $nav_items)
            #if ($i == 2)
            	<li class="space_breaker">
		            #if($is_signed_in)
		                <a class="button" href="$sign_out_url" id="sign-out" rel="nofollow">$sign_out_text</a>
		            #else
		                #set ($create_account_url = $portletURLFactory.create($request, "58", $page.getPlid(), "ACTION_PHASE"))
		                $create_account_url.setWindowState("maximized")
		                $create_account_url.setPortletMode("view")
		                $create_account_url.setParameter("saveLastPath", "0")
		                $create_account_url.setParameter("struts_action", "/login/create_account")
		
		                <a class="button" href="$create_account_url">$languageUtil.get($locale, "Register")</a>
		                <a class="button" href="https://$portalURL/cas-server/login?service=http://$portalURL/php/cas.html" rel="nofollow">$sign_in_text</a>
		            #end
            	</li>
            #end
            #if ($nav_item.isSelected())
                <li class="active">
            #elseif ($nav_item.hasChildren())
                <li class="dropdown">
            #else
                <li>
            #end
            #if ($nav_item.hasChildren())
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">$nav_item.getName() <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    #foreach ($nav_child in $nav_item.getChildren())
                        #if ($nav_child.isSelected())
                            <li class="active">
                        #else
                            <li>
                        #end
                            <a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
                        </li>
                    #end
                </ul>
            #else
                <a href="$nav_item.getURL()" $nav_item.getTarget()>$nav_item.getName()</a>
            #end
            #set ($i = $i + 1)
        </li>
        #end
    </ul>
</div>
<!--/.nav-collapse -->
