html {
    overflow: auto;
}

body a {
    color: #777
}

/** Customize theme **/

a.navbar-brand {
    height:auto;
    padding: 17px 15px;
}

nav.navbar {
    -webkit-box-shadow: none;
    box-shadow:none;
    border-width:0;
    margin-bottom:0;
}
div#service{
    margin-top:16px;
    margin-bottom:8px;
}

div#service a {
    padding: 8px 10px;
    background-color: #43ac6a;
    color: #fff;
    border: 1px solid #3c9a5f;
}

div#service a:hover {
    text-decoration: none;
    background-color: #358753;
    border-color: #2b6e44;
}

ul#menu-global-menu > li.space_breaker {
    border-color: #fff;
    border-width:0;
    background-color: #fff;
}

ul#menu-global-menu.nav > li.space_breaker a {
    display:inline-block;
    padding: 8px 16px;
    background-color: #43ac6a;
    color: #fff;
    border: 1px solid #3c9a5f;
}
ul#menu-global-menu {
    margin-top: 8px;
    width:654px;
}

ul#menu-global-menu > li:first-child {
    display:none;
}
ul#menu-global-menu > li {
    width: 160px;
    margin-right: 3px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
}

ul#menu-global-menu a {
    border-radius:0;
    background-color:#e7e7e7;
    border-color:#ccc;
}
ul#menu-global-menu a:hover {
    color: #333333;
    background-color: #cecece;
    border-color: #adadad;
}

/** footer **/

.footerTitle{
    color: #49551F;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 11px;
}
.footerContent {
    text-align: justify;
}

.eu {
    width: 25%;
    float: left;
}

ul.social-bookmarks {
    display: block;
    overflow: hidden;
    padding: 0;
    text-align: right;
}

ul.social-bookmarks li {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

ul.social-bookmarks li.twitter a {
    background: url("/otn-dev-theme/images/twitter.png") no-repeat scroll 0
        0 transparent;
}

ul.social-bookmarks li a {
    display: inline-block;
    height: 50px;
    margin: 0 auto;
    outline: medium none;
    overflow: hidden;
    /*padding: 0 5px;*/
    text-align: center;
    width: 51px;
}

ul.social-bookmarks li.linkedin a {
    background: url("/otn-dev-theme/images/facebook.png") no-repeat scroll 0
        0 transparent;
}

/**** breadcrumb ******/
.breadcrumbs {
    background-color: #f5f5f5;
    margin-bottom:0;
    padding:8px 15px;
}

.breadcrumbs a {
    color: #8c9f4a;
}

.breadcrumbs a:hover,.breadcrumbs a:focus {
    color: #5F6B34;
    text-decoration: none;
}

.breadcrumbs a::before {
    content: " ";
    margin: 2px;
}

.breadcrumbs a::after {
    content: " >";
}

.breadcrumbs .last a::after {
    content: "";
}

.breadcrumbs .last a {
    color: #606060;
}

img.olTileImage {
    max-width: none;
}

@media (max-width: 991px) {
    div#service {
        display:none
    }
}
@media (min-width: 992px) {
    .nav > li.space_breaker {
        display:none
    }
}
@media (max-width: 1199px){
    ul#menu-global-menu {
        width:489px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    ul#menu-global-menu > li {
        width: 160px
    }

    ul.navbar-nav>li>a {
        padding-top:8px;
        padding-bottom:8px;
    }
}
@media (min-width: 992px) {
    ul.navbar-nav>li>a {
        padding-top:8px;
        padding-bottom:8px;
    }
}

button.navbar-toggle {
       border-radius:0;
       background-color:#e7e7e7;
       border-color:#ccc;
       margin-right:3px;
       padding:10px 10px 9px 10px;
}
button.navbar-toggle .icon-bar {
       background-color: #000;
}

/* map header */
header#header-mini {
    position: absolute;
    right: 15px;
    z-index: 1500;
}

header#header-mini {
    ul#menu-global-menu {
        display:none;
    }

    button.navbar-toggle-map {
        display:inline;
        float:none;
        margin-top:0;
        margin-bottom:0
    }

}
div.logo {
    bottom: 10px;
    left: 10px;
    opacity: 0.4;
    position: absolute;
    z-index:1;
}
