html {
    overflow: auto;
}

body a {
    color: #777
}

/** Customize theme **/

@media ( min-width : 992px) {
    img#logo_small {
        display: none
    }
    ul.navbar-nav {
        font-size: 16px;
        text-align:center !important;
        
    }
    .navbar ul.nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
        color: #1fbba6 !important;
    	text-align: center !important;
    	width: 115px;
    }
    
    .navbar ul.nav>li {
    	border-right: lightgray solid 1px;
    	height: 77px;
    }
    
     .navbar ul.nav>li:last-child {
    	border-right: none;
    }
    
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #6df3e1 !important;
    background-color: transparent !important;
    text-align: center !important;
	}
}

@media ( min-width : 768px) {
    img#logo_micro {
        display: none;
    }
    nav.navbar div.container {
        display: flex;
        align-items: center;
    }
    div.navbar-collapse.navbar-responsive-collapse.collapse {
    display: flex!important;
    align-items: center;
}
}

@media ( max-width : 767px) {
    img#logo_small {
        display: none
    }
    div.container>div.navbar-header {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media ( max-width : 991px) {
    img#logo_normal {
        display: none
    }
    
    ul.navbar-nav {
        font-size: 14px; 
        text-align: center !important;       
    }
    .navbar ul.nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
        color: #1fbba6 !important;
    	text-align: center !important;
    }
    
    .navbar ul.nav>li {
    	border-right: none;
    	height: 48px;
    }
    
    .navbar ul.nav>li:last-child {
    	border-right: none;
    }
    
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
     .navbar-default .navbar-nav>.active>a:focus {
    color: #6df3e1 !important;
    background-color: transparent !important;
    text-align: center !important;
	}
    
}

a.navbar-brand {
    height: auto;
    padding: 17px 15px;
}

nav.navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0;
    margin-bottom: 0;
}

div#service {
    margin-top: 16px;
    margin-bottom: 8px;
}

ul#menu-global-menu>li:first-child {
    display: none;
}

div.navbar-collapse {
    width: 100%
}

ul#service {
    margin-right: 0;
    list-style: none;
    font-size: 16px;
	margin-left: 40px;
	float:right;
}

/** footer **/
.footerTitle {
    color: #49551F;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 11px;
}

.footerContent {
    text-align: justify;
}

.eu {
    width: 25%;
    float: left;
}

ul.social-bookmarks {
    display: block;
    overflow: hidden;
    padding: 0;
    text-align: right;
}

ul.social-bookmarks li {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

ul.social-bookmarks li.twitter a {
    background: url("/otn-dev-theme/images/twitter.png") no-repeat scroll 0
        0 transparent;
}

ul.social-bookmarks li a {
    display: inline-block;
    height: 50px;
    margin: 0 auto;
    outline: medium none;
    overflow: hidden;
    /*padding: 0 5px;*/
    text-align: center;
    width: 51px;
}

ul.social-bookmarks li.linkedin a {
    background: url("/otn-dev-theme/images/facebook.png") no-repeat scroll 0
        0 transparent;
}

/**** breadcrumb ******/
.breadcrumbs {
    background-color: #f5f5f5;
    margin-bottom:0;
    padding:8px 15px;
}

.breadcrumbs a {
    color: #8c9f4a;
}

.breadcrumbs a:hover,.breadcrumbs a:focus {
    color: #5F6B34;
    text-decoration: none;
}

.breadcrumbs a::before {
    content: " ";
    margin: 2px;
}

.breadcrumbs a::after {
    content: " >";
}

.breadcrumbs .last a::after {
    content: "";
}

.breadcrumbs .last a {
    color: #606060;
}

img.olTileImage {
    max-width: none;
}

button.navbar-toggle {
    border-radius: 0;
    background-color: #e7e7e7;
    border-color: #ccc;
    margin-right: 3px;
    padding: 10px 10px 9px 10px;
}

button.navbar-toggle .icon-bar {
    background-color: #000;
}

/* map header */
header#header-mini {
    position: absolute;
    right: 15px;
    z-index: 1500;
}

header#header-mini {
    ul#menu-global-menu {
       display:none;
    }

    button#btn-toggle-map {
        top: 0
    }
}

div.logo {
    bottom: 10px;
    right: 10px;
    opacity: 0.4;
    position: absolute;
    z-index: 1;
}

.container-fluid.no-border {
    padding: 0 !important;
    margin: 0 !important;
}

.aui-label-required {
	display: none !important;
}

.my-sites {
	display: none !important;
}

.no-border {
    .portlet-column-content {
        padding-top:0
    }
       
}
