html body {
  nowhitespace: afterproperty;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: 'Oxygen',sans-serif;
  color: #606060;
}

html {
    overflow: auto;
}

body a {
	color: #777
}

label {
    display: inline;
}

[class*="span"] {
    margin: 0;
}

.row {
    margin: 0;
}

.portlet-column {
    display: inline;
}

.icon-actions {
    height: auto;
    width: auto;
    background-image: none;
}

select {
    width: auto;
}

/** Customize theme **/
#header {
	height: 140px;
}
#header .container-fluid {
	padding-left:0;
	padding-right:0;
}

div.navbar-header {
	float: left;
}

div#service.container{
	padding-right: 45px;
}
.userinfo {
	margin-top: 15px;
}

ul#menu-global-menu a {
    background-color: #fff;
    z-index: 15000;
}

.navbar-bottom{
	margin-top:38px
}

.navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-inverse {
    border-color: #5f6b35;
    font-size: 16px;
    padding: 10px;
}

div.navbar-nav li a {
    color: #777;
    padding: 10px 11px !important;
}

.navbar-inverse .nav .active>a,.navbar-inverse .nav .active>a:hover,.navbar-inverse .nav .active>a:focus
    {
    font-weight: 700;
    color: #8c9f4a;
}

.navbar-inverse .brand {
    color: #999;
    font-size: 19px;
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus
    {
    background-image: linear-gradient(to bottom, #96a26e, #4f5b25)
        !important;
}

.navbar-inverse .brand,.navbar-inverse .nav>li>a {
    color: #fff;
}

.nav>li>a:hover {
    color: #5F6B34;
}

.navbar a:hover,navbar a:focus {
    background-image: linear-gradient(to bottom, #96a26e, #4f5b25)
        !important;
}

.navbar-inverse .nav li.dropdown.open>.dropdown-toggle,.navbar-inverse .nav li.dropdown.active>.dropdown-toggle,.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle
    {
    color: #5F6B34;
;
}

.navbar-fixed-top,.navbar-fixed-bottom {
    z-index: 1000;
    position: inherit;
}

button.navbar-toggle {
    clear: right;
    margin-right: -10px;
    margin-top: 65px;
	position: relative;
}

#userprofile {
    display: block;
    padding-top: 10px;
}

#userprofile a {
    color: #fff;
}

#userprofile a:hover {
    color: #fff;
}

ul.nav>li:first-child {
    display: none;
}

/** footer **/

.footerTitle{
    color: #49551F;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 11px;
}
.footerContent {
	text-align: justify;
}

.eu {
    width: 25%;
    float: left;
}

ul.social-bookmarks {
    display: block;
    overflow: hidden;
    padding: 0;
    text-align: right;
}

ul.social-bookmarks li {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

ul.social-bookmarks li.twitter a {
    background: url("/otn-dev-theme/images/twitter.png") no-repeat scroll 0
        0 transparent;
}

ul.social-bookmarks li a {
    display: inline-block;
    height: 50px;
    margin: 0 auto;
    outline: medium none;
    overflow: hidden;
    /*padding: 0 5px;*/
    text-align: center;
    width: 51px;
}

ul.social-bookmarks li.linkedin a {
    background: url("/otn-dev-theme/images/facebook.png") no-repeat scroll 0
        0 transparent;
}

/**** breadcrumb ******/
.breadcrumbs {
	background-color: #f5f5f5;
	margin-bottom:0;
    padding:8px 15px;
}

.breadcrumbs a {
    color: #8c9f4a;
}

.breadcrumbs a:hover,.breadcrumbs a:focus {
    color: #5F6B34;
    text-decoration: none;
}

.breadcrumbs a::before {
    content: " ";
    margin: 2px;
}

.breadcrumbs a::after {
    content: " >";
}

.breadcrumbs .last a::after {
    content: "";
}

.breadcrumbs .last a {
    color: #606060;
}

.portlet-borderless-bar {
    z-index: 1100;
}

.no-border .portlet-column-content {
        padding: 0;
    }

/* bootstrap vs EXT */
.x-panel {input .x-tree-node-cb { margin-top:0;}

}
.x4-panel {img { font:62.5%/ 1.4Helvetica, Arial, sans-serif;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%/1.4;
}

legend {
    border-color: initial;
    border-style: none;
    border-width: initial;
    font: 62.5%/1.4 Helvetica, Arial, sans-serif;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%/1.4;
    margin-bottom: 0;
    width: auto;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
    {
    height: 22px;
    padding: 5px 1px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: normal;
    color: #000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

}

/*****/

ol.flex-control-nav {
	bottom: -22px;
}

label {
    display: inline;
}

.container.no-border {
    width: auto;
}

.navbar.no-border {
    margin: 0;
}

img.olTileImage {
    max-width: none;
}
